/* general styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Vazir";
  color: whitesmoke;
}
/* body seciton */
body {
  direction: rtl;
  background-color: #f1f2f3;
}
/* a tag styling */
a {
  text-decoration: none;
}
/* li styling */
li {
  list-style: none;
}
h4 {
  color: black;
}
th,
td {
  padding: 12px 15px;
  text-align: center;
  font-size: 15px;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child {
  padding-right: 0;
}
