/* general styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Vazir";
  color: whitesmoke;
}
/* body seciton */
body {
  direction: rtl;
  background-color: #f1f2f3;
}
/* font face section */
@font-face {
  font-family: "Vazir";
  font-weight: 400;
  src: url("../font/Vazir.woff") format("woff"),
    url("../font/Vazir.woff") format("woff2"),
    url("../font/Vazir.ttf") format("truetype"),
    url("../font/Vazir.eot") format("eot");
}
/* a tag styling */
a {
  text-decoration: none;
}
/* li styling */
li {
  list-style: none;
}
/* styling items */
.content {
  display: flex;
  flex-direction: column;
}
/* navbar */
.navbar {
  width: 700px;
  align-self: center;
  padding: 20px 0;
}
/* logo title */
.logo {
  width: 70px;
  height: 60px;
  float: right;
}
.title {
  float: right;
  font-size: 30px;
}
.cart {
  float: left;
  padding: 10px 0;
}

/* banner seciton */
.banner {
  background-color: #7b62e9;
  width: 100vw;
  padding: 30px 0;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  display: flex;
  flex-direction: column;
}
.titles {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}
.header {
  font-size: 2.3rem;
  padding: 10px;
}
.subHeader {
  font-size: 1.2rem;
  padding-bottom: 25px;
}
/* search form */
.form {
  border: none;
}
.search {
  position: relative;
  color: black;
  padding: 10px 40px;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 1rem;
}
.submit {
  padding: 12px;
  border: none;
  position: absolute;
  background-color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.magnifier {
  padding: 4px 12px;
  background: url("../img/mglass.png") no-repeat;
}
/* info bar */
.infoBar {
  display: flex;
  flex: 1;
  width: 100vw;
  background-color: #43b6fa;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.infoItem {
  width: calc(100 / 3);
  position: relative;
  padding: 25px 5px;
  font-size: 1.1rem;
  display: inline-block;
}
.infoitemText {
  display: inline;
  padding-left: 5px;
}
.infoItemIcon {
  position: absolute;
  width: 34px;
  height: 40px;
  padding-bottom: 8px;
}
#lamp {
  width: 30px;
  height: 40px;
}
